* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 16px;
    color: #007bff; /* Adicionado para destacar o título */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Adicionado para bordas arredondadas */
}

.form-campo {
    margin-bottom: 20px;
}

.form-campo label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555; /* Cor mais suave para o label */
}

.form-campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Tamanho de fonte maior para melhor legibilidade */
}

.form-campo input:focus {
    border-color: #007bff; /* Destacar o campo quando em foco */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra suave ao focar */
}

.container button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: block; /* Alterado para block para ocupar toda a largura */
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.container button:hover {
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block; /* Garantir que a mensagem de erro apareça em uma nova linha */
}